@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  .background-image {
    background-image: url(/assets/images/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
  }

  .bg-contact-background {
    background-image: url(/assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
  }

  .footer-background {
    background-image: url(/assets/images/mask.png);
    @apply bg-navy;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
  }

  .about-background {
    background-image: url(/assets/images/backg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
  }
}
